-- CreateEnum
CREATE TYPE "AllocationType" AS ENUM ('hierarchical', 'direct');

-- CreateEnum
CREATE TYPE "InvitationStatus" AS ENUM ('pending', 'accepted', 'expired');

-- CreateEnum
CREATE TYPE "AuditAction" AS ENUM ('create', 'update', 'approve', 'reject', 'complete', 'reverse', 'delete');

-- CreateEnum
CREATE TYPE "AuditEntityType" AS ENUM ('Profile', 'Member', 'Site', 'SmallGroup', 'Activity', 'ActivityType', 'Report', 'FinancialTransaction', 'FundAllocation', 'AccountingPeriod');

-- CreateEnum
CREATE TYPE "AccountingPeriodType" AS ENUM ('month', 'quarter', 'year');

-- CreateEnum
CREATE TYPE "AccountingPeriodStatus" AS ENUM ('open', 'closed');

-- DropForeignKey
ALTER TABLE "audit_logs" DROP CONSTRAINT "audit_logs_actor_id_fkey";

-- DropIndex
DROP INDEX "audit_logs_entityType_entity_id_idx";

-- AlterTable
ALTER TABLE "accounting_periods" DROP COLUMN "type",
ADD COLUMN     "type" "AccountingPeriodType" NOT NULL,
DROP COLUMN "status",
ADD COLUMN     "status" "AccountingPeriodStatus" NOT NULL DEFAULT 'open';

-- AlterTable
ALTER TABLE "audit_logs" DROP COLUMN "entityType",
ADD COLUMN     "entity_type" "AuditEntityType" NOT NULL,
DROP COLUMN "action",
ADD COLUMN     "action" "AuditAction" NOT NULL;

-- AlterTable
ALTER TABLE "fund_allocations" DROP COLUMN "allocation_type",
ADD COLUMN     "allocation_type" "AllocationType" NOT NULL DEFAULT 'hierarchical';

-- AlterTable
ALTER TABLE "user_invitations" DROP COLUMN "status",
ADD COLUMN     "status" "InvitationStatus" NOT NULL DEFAULT 'pending',
ALTER COLUMN "expires_at" SET DEFAULT NOW() + INTERVAL '7 days';

-- CreateIndex
CREATE INDEX "audit_logs_entity_type_entity_id_idx" ON "audit_logs"("entity_type", "entity_id");

-- CreateIndex
CREATE INDEX "fund_allocations_site_id_status_idx" ON "fund_allocations"("site_id", "status");

-- CreateIndex
CREATE INDEX "fund_allocations_from_site_id_status_idx" ON "fund_allocations"("from_site_id", "status");

-- CreateIndex
CREATE INDEX "reports_site_id_status_idx" ON "reports"("site_id", "status");

-- CreateIndex
CREATE INDEX "reports_submission_date_idx" ON "reports"("submission_date");

-- CreateIndex
CREATE INDEX "transactions_site_id_status_type_idx" ON "transactions"("site_id", "status", "type");

-- CreateIndex
CREATE INDEX "transactions_small_group_id_status_type_idx" ON "transactions"("small_group_id", "status", "type");

-- CreateIndex
CREATE INDEX "transactions_date_idx" ON "transactions"("date");

-- AddForeignKey
ALTER TABLE "audit_logs" ADD CONSTRAINT "audit_logs_actor_id_fkey" FOREIGN KEY ("actor_id") REFERENCES "profiles"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

