-- DropIndex
DROP INDEX "audit_logs_entity_type_entity_id_idx";

-- AlterTable
ALTER TABLE "fund_allocations" DROP COLUMN "allocation_type",
ADD COLUMN     "allocation_type" TEXT NOT NULL DEFAULT 'hierarchical';

-- AlterTable
ALTER TABLE "user_invitations" DROP COLUMN "status",
ADD COLUMN     "status" TEXT NOT NULL DEFAULT 'pending',
ALTER COLUMN "expires_at" SET DEFAULT (now() + '7 days'::interval);

-- AlterTable
ALTER TABLE "audit_logs" DROP COLUMN "entity_type",
ADD COLUMN     "entityType" TEXT NOT NULL,
DROP COLUMN "action",
ADD COLUMN     "action" TEXT NOT NULL;

-- AlterTable
ALTER TABLE "accounting_periods" DROP COLUMN "type",
ADD COLUMN     "type" TEXT NOT NULL,
DROP COLUMN "status",
ADD COLUMN     "status" TEXT NOT NULL DEFAULT 'open';

-- DropEnum
DROP TYPE "AllocationType";

-- DropEnum
DROP TYPE "InvitationStatus";

-- DropEnum
DROP TYPE "AuditAction";

-- DropEnum
DROP TYPE "AuditEntityType";

-- DropEnum
DROP TYPE "AccountingPeriodType";

-- DropEnum
DROP TYPE "AccountingPeriodStatus";

-- CreateIndex
CREATE INDEX "audit_logs_entityType_entity_id_idx" ON "audit_logs"("entityType" ASC, "entity_id" ASC);

