-- CreateEnum
CREATE TYPE "AllocationType" AS ENUM ('hierarchical', 'direct');

-- CreateEnum
CREATE TYPE "InvitationStatus" AS ENUM ('pending', 'accepted', 'expired');

-- CreateEnum
CREATE TYPE "AuditAction" AS ENUM ('create', 'update', 'approve', 'reject', 'complete', 'reverse', 'delete');

-- CreateEnum
CREATE TYPE "AuditEntityType" AS ENUM ('Profile', 'Member', 'Site', 'SmallGroup', 'Activity', 'ActivityType', 'Report', 'FinancialTransaction', 'FundAllocation', 'AccountingPeriod');

-- CreateEnum
CREATE TYPE "AccountingPeriodType" AS ENUM ('month', 'quarter', 'year');

-- CreateEnum
CREATE TYPE "AccountingPeriodStatus" AS ENUM ('open', 'closed');

-- DropIndex
DROP INDEX "audit_logs_entityType_entity_id_idx";

-- AlterTable
ALTER TABLE "accounting_periods" DROP COLUMN "type",
ADD COLUMN     "type" "AccountingPeriodType" NOT NULL,
DROP COLUMN "status",
ADD COLUMN     "status" "AccountingPeriodStatus" NOT NULL DEFAULT 'open';

-- AlterTable
ALTER TABLE "audit_logs" DROP COLUMN "entityType",
ADD COLUMN     "entity_type" "AuditEntityType" NOT NULL,
DROP COLUMN "action",
ADD COLUMN     "action" "AuditAction" NOT NULL;

-- AlterTable
ALTER TABLE "fund_allocations" DROP COLUMN "allocation_type",
ADD COLUMN     "allocation_type" "AllocationType" NOT NULL DEFAULT 'hierarchical';

-- AlterTable
ALTER TABLE "user_invitations" DROP COLUMN "status",
ADD COLUMN     "status" "InvitationStatus" NOT NULL DEFAULT 'pending',
ALTER COLUMN "expires_at" SET DEFAULT NOW() + INTERVAL '7 days';

-- CreateIndex
CREATE INDEX "audit_logs_entity_type_entity_id_idx" ON "audit_logs"("entity_type", "entity_id");

